body {
    margin: 0px;
    padding: 0px;
    background-color: #1a1817;
    width: 100%;
    font-family: 'Tahoma', 'Arial', sans-serif;
}
#content{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.category{
    background: url('images/category_bg.png') repeat;
    width: 100%;
    height: auto;
    position: relative;
}
.background{
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.label{
    background: url('images/label_bg.png') repeat-y;
    width: 178px;
    height: 100%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    float: left;
    clear: none;
}
.label .top{
    background: url('images/label_top.png') no-repeat;
    width: 178px;
    height: 223px;
    position: absolute;
    top: 0px;
}
.label .bot{
    background: url('images/label_bot.png') no-repeat;
    width: 178px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}
.content{
    background: url('images/content_bg.png') repeat;
    width: 860px;
    height: 100%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    float: left;
}
.content .top{
    background: url('images/content_top.png') repeat-x;
    width: 100%;
    height: 223px;
    position: absolute;
    top: 0px;
}
.content .bot{
    background: url('images/content_bot.png') repeat-x;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}
.container{
    width: 840px;
    margin: 10px;
    padding: 10px 10px 10px 170px;
    }
    .example{
    background: url('images/example_bg.png') repeat-x;
        width: 760px;
        height: 72px;
        position: relative;
        padding-bottom: 10px;
        _overflow: hidden;
        cursor: pointer;
    }
    .image{
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;
    }
    .image .gloss{
        height: 50%;
        width: 100%;
        background-color: #fff;
        opacity: .1;
        filter: alpha(opacity = 10);
        position: absolute;
        top: 0px;
    }
    .image .shade{
        height: 50%;
        width: 100%;
        background-color: #000;
        opacity: .1;
        filter: alpha(opacity = 10);
        position: absolute;
        bottom: 0px;
    }
    .imageShadow{
        -moz-box-shadow: 0px 0px 10px #000;
        -webkit-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;
    }
    .imageShadowContrast{
        -moz-box-shadow: -1px -1px 2px #fff;
        -webkit-box-shadow: -1px -1px 2px #fff;
        box-shadow: -1px -1px 2px #fff;
    }
    h2.catlabel{
        position: absolute;
        top: 19px;
        right: 70px;
        color: #fff;
        z-index: 10;
        font-family: 'Tahoma', 'Arial', sans-serif;
        font-weight: normal;
        font-size: 18pt;
        text-shadow: 0px 0px 5px #000;
    }

    #titlebar{
    background: #bbb5a6 url('images/titlebar_bg.png') repeat-x;
        height: 29px;
        width: 100%;
        margin: 4px 0px 16px 0px;
        position: relative;
    }
    #jjcm{
        float: left;
        padding-left: 11px;
        padding-top: 4px;
        font-size: 18px;
        font-family: 'Tahoma', 'Arial', sans-serif;
        text-shadow: 0px 0px 5px #fff;
    }
    #jjcm #black{
        float:left;
        color: #1a1917;
    }
    #jjcm #red{
        float:left;
        color: #5e0f1a;
    }
    #jjcm a{
        text-decoration: none;
    }
    #navigation{
        position: absolute;
        bottom: 9px;
        left: 145px;
    }
    #navigation a {
        font-size: 12px;
        font-style: italic;
        color: #45423d;
        padding-left: 30px;
    }
    .description{
        color: #fff;
        font-size: 10px;
        font-style: italic;
        letter-spacing: 1px;
        line-height: 130%;
        opacity: .7;
        width: 110px;
        position: absolute;
        top: 55px;
        left: -170px;
        display: none;
    }


        


